/3sem/INP/Projekt1/env/
/4sem/ICS/ICS_demo
/4sem/ICS/microsoft-jdk-21.0.7-linux-x64/
/4sem/ICS/android-studio-2024.3.1 (2).15-linux/
/4sem/ICS/test/test/bin/Debug/
/4sem/ICS/JetBrains Rider-2024.3.5/
/5sem/IMS/IMS-Proj/simlib-3.09-20221108/*
/5sem/IMS/src/
/5sem/IMS/simlib-3.09-20221108/
/5sem/IMP/imp-esp32/
/5sem/IMP/03-emb_cprog_demo/
/5sem/INP/projekt1/env/
